@model TanimotoCoefficient.Models.TanimotoCoefficientViewModel

@{ ViewData["Title"] = "Tanimoto"; }

<h1>Tanimoto</h1>
<form asp-controller="Tanimoto" asp-action="Index" method="get">
    <p>
        <select asp-for="CriticName1" asp-items="Model.Critics"></select>
        <select asp-for="CriticName2" asp-items="Model.Critics"></select>

        <input type="submit" value="Calculate" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <h6>Full Name</h6>
            </th>
            <th>
                <h6>Movie Title</h6> @*movie title*@
            </th>
            <th>
                <h6>Rating</h6>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var critic in Model.ListOfCritics)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => critic.Key)
    </td>
    @foreach (var movie in critic.Value)
    {
    <tr>
        <td></td>

        <td>
            @Html.DisplayFor(modelItem => movie.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => movie.Rating)
        </td>
    </tr>
}
    </tr>}


    </tbody>
</table>

<h4>Tanimoto coefficient is: @String.Format("{0:0.00}", Model.Coefficient)</h4>

<h4>This critic might also like their tastes:</h4>
<ul>
    @foreach (var tuple in Model.Similarities)
    {
    <li>@tuple.Item1 @String.Format("{0:0.00}", tuple.Item2)</li>
    }
</ul>
